<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{layout :: layout (~{::body},'greet')}">

<body>

  <h2 th:text="#{greeting}">Welcome</h2>
  <div class="grid">
    <div data-cols="1">
        <form th:action="@{/greet}" th:hx-post="@{/greet}" method="post" hx-target="#content">
            <input type="text" name="name" th:value="${name}" />
        <button type="submit">Greet</button>
      </form>
    </div>
    <div data-cols="2">
      <span th:fragment="content" id="content" th:text="${greeting}">Hello, World</span><br />
      <span th:text="${time}">21:00</span>
    </div>
  </div>

</body>

</html>