<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{layout :: layout (~{::body},'greet')}">

<body>

    <h2 th:text="#{greeting}">Welcome</h2>
    <turbo-frame id="content">
        <div class="grid">
            <div data-cols="1">
                <form th:action="@{/greet}" method="post">
                    <input type="text" name="name" th:value="${name}" />
                    <button type="submit">Greet</button>
                </form>
            </div>
            <div data-cols="2">
                <span th:text="${greeting}">Hello, World</span><br />
                <span th:text="${time}">21:00</span>
            </div>
        </div>
    </turbo-frame>

</body>

</html>